<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- 예외 규칙: /public/img/QuestImg/ 및 /public/img/QuestItem/ 경로에 대한 요청은 재작성하지 않음 -->
        <rule name="Exclude QuestImg and QuestItem" stopProcessing="true">
          <match url="^public/img/QuestImg/.*$|^public/img/QuestItem/.*$" />
          <action type="None" />
        </rule>
        
        <!-- 기본 재작성 규칙 -->
        <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>