@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 레이아웃
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
#skip-nav {height:0}
#skip-nav a {display: block; position: absolute; left: 0; top: -100px; width: 100%; height: 1px; text-align: center}
#skip-nav a:focus, #skip a:active {position: absolute; top: 0; z-index: 120; height: 25px; padding: 10px 0; font-size: 1.4em; font-weight: 700; color: #36348f; background: #fff;}

/*-------------------------------------------------------------------
    @header
-------------------------------------------------------------------*/
#header {background: linear-gradient(135deg,  #1db1ad 0%,#3d7aed 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1db1ad', endColorstr='#3d7aed',GradientType=1 );}
#header .container {display: flex; justify-content: space-between; align-items: center;}
#header .container::after {display: none;}

.logo.v1 {width: 20.1rem; height: 3.2rem; background: url('../assets/img/common/logo1.png') no-repeat center; background-size: 100%;}
.logo.v2 {width: 19rem; height: 7.2rem; background: url('../assets/img/common/logo2.png') no-repeat center; background-size: 100%;}
.logo a{ display: block; width: 100%; height: 100%; text-indent: -9999px; }

.gnb{}

.gnb-m{}

.etc {display: flex; align-items: center; padding: 2.2rem 0; gap: 0 2rem;}
.etc .user {font-size: 1.6rem; color: #ffffff; flex: none;}
.etc .user strong {display: inline-block; margin-left: 1rem; font-weight: 700;}
.etc select {display: block; min-width: 18rem; height: 3.6rem; border: 1px solid #CFD4DA; background: #ffffff url('../assets/img/icon/ic_arr_select.png') no-repeat right 2rem center; background-size: 2rem; font-size: 1.4rem; border-radius: 0.4rem; padding: 0 6rem 0 2rem;}

.shortcut {}

.util {}

.support {}

.assistant {}

.branding {}
 
/*-------------------------------------------------------------------
    @footer
-------------------------------------------------------------------*/
#footer {background-color: #27313E; padding: 3rem 0;}
#footer .container {max-width: 56.5rem;}
#footer .inner {padding-left: 22rem; background: url('../assets/img/common/logo_footer.png') no-repeat left center; background-size: 20rem; text-align: center;}

.link{}

.family{}

.sns{}

.address{}

.logo-f{}

.copyright {font-size: 1.4rem; color: #858E96; letter-spacing: -0.07rem;}

.company {margin-top: 0.5rem; display: flex; align-items: center; justify-content: center; gap: 0 2rem;}

.site {color: #ffffff;}

.phone {padding-left: 2rem; color: #ffffff; background: url('../assets/img/icon/ic_phone.png') no-repeat left center; background-size: 1.6rem;}

.fnb {}
 
/*-------------------------------------------------------------------
    @content
-------------------------------------------------------------------*/
#content {padding: 0 0 5rem 0; }

.container{ margin-left: auto; margin-right: auto; position: relative; max-width: 121.2rem; width: 100%; padding-left: 1.6rem; padding-right: 1.6rem;}
.container::after{ display: block; clear: both; content: ""; }

.has-padding{}

.award {padding: 4rem 0 4rem;}
.award ul {display: flex; justify-content: center; gap: 0 2rem;}
.award ul li img {margin: 0 auto;}
.award ul li .text {text-align: center; margin-top: 0.7rem; color: #898585; font-weight: 700;}

/*-------------------------------------------------------------------
    @floating
-------------------------------------------------------------------*/
.dim {position: fixed; width: 100vw; height: 100vh; left: 0; top: 0; background-color: #000000; opacity: 0.6; z-index: 98;}
 
/*-------------------------------------------------------------------
    @popup
-------------------------------------------------------------------*/
.popup {position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none; z-index: 99; border-radius: 2rem; overflow: hidden;}
.popup.on {display: flex; flex-direction: column;}

.popup .pop-head {height: 7rem; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #CFD4DA; background-color: #ffffff;}
.popup .pop-head .tit {text-align: center; font-size: 2rem; font-weight: 700; color: #0D4F8A;}

.popup .pop-body {background-color: #ffffff; padding: 3rem 5rem 4rem;}

.popup .btn-wrap .btn {flex: 1 0; border-radius: 0;}

#layerFindId {max-width: 40rem; width: calc(100% - 3.2rem);}

#layerFindPw {max-width: 40rem; width: calc(100% - 3.2rem);}

@media screen and (max-width: 1212px) {
    
}

@media screen and (max-width:720px) {
    /*-------------------------------------------------------------------
        @header
    -------------------------------------------------------------------*/
    #header {padding-top: 2rem;}
    #header .container {justify-content: center; flex-direction: column; align-items: center;}

    .logo.v1 {width: 18.6rem; height: 3rem;}
    .logo.v2 {width: 18.6rem; height: 3rem; background-image: url('../assets/img/common/logo2_m.png');}

    .etc {flex: none; width: 100%; justify-content: space-between; padding: 1rem 0; margin-top: 0.5rem;}
    .etc select {min-width: 0; width: 14rem;}

    /*-------------------------------------------------------------------
        @content
    -------------------------------------------------------------------*/
    .award {padding: 2rem 0 0;}
    .award ul {gap: 2rem 2.3rem; flex-wrap: wrap;}
    .award ul li {width: calc(50% - 2.3rem); flex: none;}
    .award ul li .text {margin-top: 0.2rem; font-size: 1.2rem;}

    /*-------------------------------------------------------------------
        @footer
    -------------------------------------------------------------------*/
    #footer {padding: 3rem 0;}
    #footer .container {width: 100%; padding-left: 2.8rem; padding-right: 2.8rem;}
    #footer .inner {padding-left: 0; padding-top: 5.8rem; background: url('../assets/img/common/logo_footer.png') no-repeat center top; background-size: 20rem; text-align: center;}

    .copyright {font-size: 1.4rem; color: #858E96; letter-spacing: -0.08rem;}

    .company {margin-top: 0.5rem; gap: 0 2rem;}
 
    /*-------------------------------------------------------------------
        @popup
    -------------------------------------------------------------------*/
    .popup .pop-body {padding: 3rem 1.4rem 4rem;}
}