@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 메인 스타일
-------------------------------------------------------------------*/
/* 공통 */
.main{}

.main [class^='sec']{}
.main [class^='sec'] .tit-sec{}

/* 섹션 */
.main .visual {height: 50rem; background: url('../assets/img/main/bg_visual.png') no-repeat center; background-size: cover; display: flex; align-items: center; justify-content: center;}
.main .visual .text-wrap {max-width: 79.5rem; width: calc(100% - 3.2rem); border: 1px solid rgba(255, 255, 255, 0.5); background-color: rgba(13, 79, 138, 0.6); text-align: center; color: #ffffff; padding: 3.6rem 5rem 3.5rem;}
.main .visual .text-wrap .headline .text01 {font-size: 3rem;}
.main .visual .text-wrap .headline .text01 strong {font-weight: 700; position: relative;}
.main .visual .text-wrap .headline .text01 .dot {position: relative; left: 50%; transform: translateX(-50%);}
.main .visual .text-wrap .headline .text01 .dot,
.main .visual .text-wrap .headline .text01 .dot::before,
.main .visual .text-wrap .headline .text01 .dot::after {width: 0.6rem; height: 0.6rem; border-radius: 50%; background-color: #ffffff; display: block;}
.main .visual .text-wrap .headline .text01 .dot::before,
.main .visual .text-wrap .headline .text01 .dot::after {content: ""; position: absolute;}
.main .visual .text-wrap .headline .text01 .dot {margin-left: -9.7rem;}
.main .visual .text-wrap .headline .text01 .dot::before {margin-left: 2.4rem;}
.main .visual .text-wrap .headline .text01 .dot::after {margin-left: 6rem;}
.main .visual .text-wrap .headline .text02 {font-size: 6rem; font-weight: 700;}
.main .visual .text-wrap .headline .text03 {font-size: 3.6rem; font-weight: 700; margin-top: 1rem;}
.main .visual .text-wrap .text04 {margin-top: 2rem; padding-top: 2rem; border-top: 1px solid #FFFFFF; font-size: 2.4rem; font-weight: 700;}

.main .test {padding: 8rem 0 4rem;}
.main .test .card-list {display: flex; flex-wrap: wrap; gap: 3.6rem 2rem; align-items: stretch;}
.main .test .card-list .card {width: calc(50% - 1rem); display: flex; flex-direction: column;}
.main .test .card-list .card .card-head {padding: 0 3rem; display: flex; align-items: center; height: 15rem;}
.main .test .card-list .card .card-head .deco {flex: none; width: 10rem; height: 10rem; border-radius: 0.8rem; padding: 1.8rem;}
.main .test .card-list .card .card-head .text-wrap {flex: 1 0; padding-left: 2rem;}
.main .test .card-list .card .card-head .text-wrap .title {font-size: 3.6rem; font-weight: 700;}
.main .test .card-list .card .card-head .text-wrap .text {font-size: 2rem;}
.main .test .card-list .card .card-head .btn-start {flex: none; width: 10rem; height: 10rem; border-radius: 50%; background-color: rgba(255, 255, 255, 0.3); font-size: 2rem; color: #FFFFFF;}
.main .test .card-list .card .card-body {padding: 2.5rem 0 3rem; display: flex; align-items: flex-start; justify-content: center; gap: 0 3rem; background-color: #ffffff; border: 1px solid #CFD4DA; border-top: 0; flex: 1 0;}
.main .test .card-list .card .card-body ul li {padding-left: 1.6rem; font-size: 2rem; color: #4A5056; position: relative;}
.main .test .card-list .card .card-body ul li::before {width: 0.3rem; height: 0.3rem; position: absolute; content: ""; background-color: #4A5056; left: 0; top: 1.5rem;}

.main .test .card-list .card.enabled .card-head {background-color: #0D4F8A;}
.main .test .card-list .card.enabled .card-head .deco {background-color: #1DB1AD;}
.main .test .card-list .card.enabled .card-head .text-wrap {color: #ffffff;}

.main .test .card-list .card.disabled .card-head {background-color: #CFD4DA;}
.main .test .card-list .card.disabled .card-head .deco {background-color: #ADB5BC;}
.main .test .card-list .card.disabled .card-head .text-wrap {color: #868E95;}

@media screen and (max-width: 1212px) {
    .main .test .card-list .card {width: 100%;}
}

@media screen and (max-width: 720px) {
    .main .visual {height: 30rem;}
    .main .visual .text-wrap {width: calc(100% - 2rem);}
    .main .visual .text-wrap .headline .text01 {font-size: 1.5rem;}
    .main .visual .text-wrap .headline .text01 .dot,
    .main .visual .text-wrap .headline .text01 .dot::before,
    .main .visual .text-wrap .headline .text01 .dot::after {width: 0.4rem; height: 0.4rem;}
    .main .visual .text-wrap .headline .text01 .dot {margin-left: -4.9rem;}
    .main .visual .text-wrap .headline .text01 .dot::before {margin-left: 1.4rem;}
    .main .visual .text-wrap .headline .text01 .dot::after {margin-left: 3.1rem;}
    .main .visual .text-wrap .headline .text02 {font-size: 3rem;}
    .main .visual .text-wrap .headline .text03 {font-size: 1.8rem; margin-top: 0.5rem;}
    .main .visual .text-wrap .text04 {margin-top: 1rem; padding-top: 1rem; font-size: 1.2rem;}

    .main .test {padding: 4rem 0 2rem;}
    .main .test .card-list {gap: 2rem;}
    .main .test .card-list .card {width: 100%;}
    .main .test .card-list .card .card-head {padding: 2rem; flex-wrap: wrap; justify-content: center; height: auto;}
    .main .test .card-list .card .card-head .deco {width: 6rem; height: 6rem; padding: 1.1rem;}
    .main .test .card-list .card .card-head .text-wrap {width: calc(100% - 6rem); flex: none; padding-left: 1rem;}
    .main .test .card-list .card .card-head .text-wrap .title {font-size: 2.4rem;}
    .main .test .card-list .card .card-head .text-wrap .text {font-size: 1.6rem;}
    .main .test .card-list .card .card-head .btn-start {margin-top: 2rem; width: 8rem; height: 8rem; font-size: 1.4rem; margin-top: 2rem;}
    .main .test .card-list .card .card-body {padding: 1.5rem 0; gap: 0rem; flex-direction: column; align-items: center; justify-content: stretch;}
    .main .test .card-list .card .card-body ul li {padding-left: 1.2rem; font-size: 1.6rem; line-height: 2;}
    .main .test .card-list .card .card-body ul li::before {width: 0.3rem; height: 0.3rem; position: absolute; content: ""; background-color: #4A5056; left: 0; top: 1.5rem;}
    .main .test .card-list .card:last-child .card-body ul {width: 20.8rem;}
}