@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 컨텐츠 스타일
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
.sub{}

/* 서브 비쥬얼 */
.sub-visual{}

.sub-visual.bg01{}

.sub-visual .tit-visual{}

.sub-visual .txt-visual{}

/* location */
.loc{  }
.loc ul{}
.loc ul li{}
.loc ul li + li{}
.loc ul li a{}
.loc ul li:first-of-type a{}
.loc ul li:last-of-type a{}

/*-------------------------------------------------------------------
    @메뉴명
-------------------------------------------------------------------*/
/* 회원가입 */
.join {padding-top: 4.8rem;}
.join .container {max-width: 101.2rem;}
.join .logo {margin: 0 auto;}
.join .title {text-align: center; margin-top: 3rem; font-size: 3.2rem; font-weight: 700;}
.join .btn-existing {margin-top: 4rem; width: 100%; height: 8rem; border: 1px solid #CFD4DA; background-color: rgba(255, 163, 72, 0.16); font-weight: 700; font-size: 1.6rem;}
.join .form-wrap .form-group .txt-guide + * {margin-top: 3rem;}

/* 로그인 */
.login {padding-top: 4.8rem; min-height: calc(100vh - 11rem);}
.login .logo {margin: 0 auto;}
.login .container {max-width: 63.2rem; margin-top: 3rem;}
.login .login-form {border: 1px solid #CFD4DA; background-color: #ffffff; padding: 4rem 5rem;}
.login .login-form .title {text-align: center; font-size: 3.2rem; font-weight: 700;}
.login .login-form .form-group {border-top: 1px solid #CFD4DA; border-bottom: 1px solid #CFD4DA; margin-top: 2rem; padding: 3rem;}
.login .login-form .form-group .txt-guide {margin-top: 4rem;}
.login .login-form .form-group .txt-guide + * {margin-top: 2rem;}
.login .login-form .user-offer {margin-top: 2rem;}
.login .login-form .user-offer ul {display: flex; align-items: center; justify-content: center; gap: 2rem;}

/* 종합검사 */
.examine .examine-head {background-color: #0D4F8A; padding: 2rem 0;}
.examine .examine-head .container {display: flex; align-items: center; justify-content: flex-start;}
.examine .examine-head .container::after {display: none;}
.examine .examine-head .title-area {overflow: hidden;}
.examine .examine-head .title-area .category {float: left; line-height: 6rem; border-radius: 1rem; background-color: #1DB1AD; color: #ffffff; font-size: 2.8rem; font-weight: 700; padding: 0 6.2rem;}
.examine .examine-head .title-area .title {margin-left: 4rem; font-size: 2.8rem; font-weight: 700; color: #ffffff; height: 6rem; display: flex; align-items: center; justify-content: center; float: left; gap: 0.8rem 1rem;}
.examine .examine-head .title-area .title span {width: 10rem; line-height: 4rem; border-radius: 2rem; border: 1px solid #ffffff; text-align: center; font-size: 2rem;}
.examine .examine-head .timer {font-size: 4rem; float: left; margin-left: 4rem; line-height: 6rem; padding-left: 6.5rem; background: url('../assets/img/icon/ic_timer.png') no-repeat left center; background-size: 5rem; color: #C7C7C7; }
.examine .examine-head .timer strong {color: #FFD62C}

.examine .examine-body {padding-top: 4rem;}
.examine .examine-body .test-wrap > .text {font-size: 1.6rem; font-weight: 700; margin-bottom: 2rem;}
.examine .examine-body .test-wrap .test-form {border: 1px solid #CFD4DA; background-color: #ffffff; padding: 3rem 2rem 3rem 3rem;}
.examine .examine-body .test-wrap .test-form + .test-form {margin-top: 1rem;}
.examine .examine-body .test-wrap .test-form .question {display: flex; align-items: flex-start;}
.examine .examine-body .test-wrap .test-form .question .num {flex: none; width: 4rem; height: 4rem; border-radius: 50%; text-align: center; line-height: 4rem; color: #ffffff; font-weight: 700; font-size: 1.6rem; background-color: #CFD4DA;}
.examine .examine-body .test-wrap .test-form .question .cont {min-width: 0; max-width: 100%; flex: 1 0; margin-left: 2rem;}
.examine .examine-body .test-wrap .test-form .question .cont .text {color: #4A5056; font-size: 1.6rem; font-weight: 700;}
.examine .examine-body .test-wrap .test-form .question .cont .img-wrap {width: 100%;}
.examine .examine-body .test-wrap .test-form .question .cont .text + .img-wrap {margin-top: 1rem;}
.examine .examine-body .test-wrap .test-form .answer {margin-top: 2rem; padding-left: 6rem; position: relative;}
.examine .examine-body .test-wrap .test-form .answer.hide::before {content: ""; position: absolute; background-color: #D96363; border-radius: 0.8rem; width: calc(100% + 3rem); height: calc(100% + 3.5rem); left: -2rem; top: -1.5rem; z-index: 1;}
.examine .examine-body .test-wrap .test-form .answer.hide::after {content: "보기는 타이머 종료 후 나타납니다."; position: absolute; width: calc(100% + 1.4rem); height: calc(100% + 2.1rem); left: -1.2rem; top: -0.7rem; border-radius: 0.8rem; border: 1px dashed #ffffff; z-index: 2; display: flex; align-items: center; justify-content: center; color: #ffffff; text-align: center; font-size: 2rem;}

/* 검사완료 */
.finish {padding-top: 4.8rem;}
.finish .celebration-wrap {background-color: #ffffff; border: 1px solid #CFD4DA; padding: 6rem 3rem;}
.finish .celebration-wrap .text01,
.finish .celebration-wrap .text02,
.finish .celebration-wrap .guide-wrap p,
.finish .celebration-wrap .text03,
.finish .celebration-wrap ul li {word-break: keep-all;}
.finish .celebration-wrap > img {margin: 0 auto; width: 55rem;}
.finish .celebration-wrap .text01 {margin-top: 2rem; font-size: 3.6rem; font-weight: 700; text-align: center;}
.finish .celebration-wrap .text02 {margin-top: 2rem; font-size: 2rem; text-align: center;}
.finish .celebration-wrap .guide-wrap {width: 62rem; border: 1px solid #CFD4DA; margin: 2rem auto 0; text-align: center; padding: 2.5rem 0;}
.finish .celebration-wrap .guide-wrap p {color: #3D7AED; font-size: 2.4rem;}
.finish .celebration-wrap .guide-wrap p strong {font-weight: 700;}
.finish .celebration-wrap .text03 {margin-top: 5.2rem; text-align: center; font-size: 3rem; font-weight: 700;}
.finish .celebration-wrap .text03 strong {color: #3D7AED}
.finish .celebration-wrap > ul {margin-top: 1.8rem; display: flex; gap: 0.5rem;}
.finish .celebration-wrap > ul > li {flex: 1 0; border-radius: 1rem; padding: 1.2rem 2rem 2.4rem; color: #ffffff;}
.finish .celebration-wrap > ul > li:nth-child(1) {background-color: #DD6E53;}
.finish .celebration-wrap > ul > li:nth-child(2) {background-color: #EDAA4B;}
.finish .celebration-wrap > ul > li:nth-child(3) {background-color: #AFC63E;}
.finish .celebration-wrap > ul > li:nth-child(4) {background-color: #61BDEC;}
.finish .celebration-wrap > ul > li:nth-child(5) {background-color: #936DA6;}
.finish .celebration-wrap > ul > li .title-wrap .title {text-align: center; font-weight: 700; font-size: 3rem;}
.finish .celebration-wrap > ul > li .title-wrap img {width: 13rem; margin: 2rem auto 0;}
.finish .celebration-wrap > ul > li ul {margin-top: 2rem; font-size: 1.8rem; line-height: 1.556;}
.finish .celebration-wrap .btn-wrap {margin-top: 6rem; gap: 2rem;}
.finish .celebration-wrap .btn-wrap .btn {width: 30rem;}
.finish .celebration-wrap .btn-wrap .btn:nth-child(1) {background-color: #4A5056;}

/* 검사결과지 */
.result {padding-top: 3.5rem; padding-bottom: 4rem;}
.result .logo {margin: 0 auto;}
.result .exit {display: flex; justify-content: flex-end; align-items: center; gap: 2rem; padding-left: 1.6rem; padding-right: 1.6rem; width: 100%; max-width: 121.2rem; margin: -1.4rem auto 0;}
.result .exit .user {font-size: 1.6rem; color: #4A5056;}
.result .exit .user strong {font-weight: 700; display: inline-block; margin-left: 0.4rem;}
.result .container {margin-top: 2rem;}
.result .result-sheet {background-color: #ffffff; border: 1px solid #CFD4DA; padding: 4rem 4.4rem;}
.result .result-sheet .menu .btn-menu {display: none;}
.result .result-sheet .menu ul {display: flex; flex-wrap: wrap; gap: 0.2rem; justify-content: flex-start;}
.result .result-sheet .menu ul li {flex: none; width: calc(14.285% - 0.18rem); min-width: 12.5rem;}
.result .result-sheet .menu ul li a {border: 1px solid #CFD4DA; background-color: #F0F3F5; display: block; width: 100%; line-height: 3.315; font-size: 1.4rem; font-weight: 700; text-align: center;}
.result .result-sheet .menu ul li.on a {color: #ffffff; background-color: #3D7AED; border-color: #3D7AED;}
.result .result-sheet .result-view {margin-top: 4rem;}
.result .result-sheet .result-view .name {text-align: center; font-size: 3rem; font-weight: 700; color: #4A5056;}
.result .result-sheet .result-view .headline {font-size: 2rem; text-align: center; margin-top: 0.8rem; word-break: keep-all;}
.result .result-sheet .result-view .headline strong {font-weight: 700;}
.result .result-sheet .result-view .summary {margin-top: 2rem;}
.result .result-sheet .result-view .summary .type-list dl {width: 30rem; display: flex; align-items: stretch; border-radius: 0.4rem; border-width: 1px; border-style: solid; overflow: hidden;}
.result .result-sheet .result-view .summary .type-list dl + dl {margin-top: 1rem;}
.result .result-sheet .result-view .summary .type-list dl dt {display: flex; align-items: center; justify-content: center; font-size: 1.4rem; color: #FFFFFF; font-weight: 700; width: 7rem; flex: none;}
.result .result-sheet .result-view .summary .type-list dl dt img {width: 3.2rem;}
.result .result-sheet .result-view .summary .type-list dl dd {font-size: 1.8rem; font-weight: 700; text-align: center; padding: 1.8rem 0; flex: 1 0;}
.result .result-sheet .result-view .summary .type-list.mint dl {border-color: #1DB1AD;}
.result .result-sheet .result-view .summary .type-list.mint dl dt {background-color: #1DB1AD;}
.result .result-sheet .result-view .summary .type-list.orange dl {border-color: #FF8E3B;}
.result .result-sheet .result-view .summary .type-list.orange dl dt {background-color: #FF8E3B;}
.result .result-sheet .result-view .summary .tendency {display: flex; align-items: flex-start; justify-content: center; gap: 3rem 2rem; flex-wrap: wrap;}
.result .result-sheet .result-view .summary .tendency .item .title {font-size: 2.4rem; font-weight: 700; text-align: center;}
.result .result-sheet .result-view .summary .tendency .item .title.mint {color: #1DB1AD;}
.result .result-sheet .result-view .summary .tendency .item .title.orange {color: #FF8E3B;}
.result .result-sheet .result-view .summary .tendency .item .type-list {margin-top: 1rem;}
.result .result-sheet .result-view .summary .thinking .type-list {display: flex; align-items: center; justify-content: center; gap: 1rem;}
.result .result-sheet .result-view .summary .thinking .type-list dl + dl {margin-top: 0;}
.result .result-sheet .result-view .summary .ability .type-list {display: flex; align-items: center; justify-content: flex-start; margin: 0 auto; gap: 1rem; max-width: 92rem; flex-wrap: wrap;}
.result .result-sheet .result-view .summary .ability .type-list dl + dl {margin-top: 0;}
.result .result-sheet .result-view .summary .subject {margin-top: 4rem;}
.result .result-sheet .result-view .summary .subject .type-list {display: flex; align-items: center; justify-content: flex-start; margin: 0 auto; gap: 1rem; max-width: 60rem;}
.result .result-sheet .result-view .summary .subject .type-list dl {width: 100%;}
.result .result-sheet .result-view .summary .text {text-align: center; color: #ffffff; background-color: #418B89; padding: 1.8rem 1.5rem; border-radius: 500rem; word-break: keep-all;}
.result .result-sheet .result-view .summary * + .text {margin-top: 4rem;}
.result .result-sheet .result-view .layout {display: flex; margin-top: 4rem; gap: 4rem 2rem; flex-wrap: wrap;}
.result .result-sheet .result-view .layout .item.full {width: 100%;}
.result .result-sheet .result-view .layout .item.half {width: calc(50% - 1rem);}
.result .result-sheet .result-view .trans-tbl {border-top: 0.4rem solid #4A5056;}
.result .result-sheet .result-view .partition {margin-top: 6rem;}
.result .result-sheet .result-view .summary + .partition {margin-top: 4rem;}
.result .result-sheet .result-view .chart-wrap + .partition {margin-top: 4rem;}
.result .result-sheet .result-view .summary + .chart-wrap {margin-top: 4rem;}
.result .result-sheet .result-view .partition .title-wrap {padding-bottom: 1rem; display: flex; align-items: center; justify-content: flex-start; gap: 0.8rem;}
.result .result-sheet .result-view .partition .title-wrap + .text-wrap,
.result .result-sheet .result-view .partition .title-wrap + .cont-wrap {border-top: 0.4rem solid #4A5056;}
.result .result-sheet .result-view .partition .text-wrap {padding-top: 1rem;}
.result .result-sheet .result-view .partition .text-wrap p {font-size: 1.4rem;}
.result .result-sheet .result-view .partition .cont-wrap {padding-top: 4rem;}
.result .result-sheet .result-view .partition .cont-wrap .tit-wrap + .card-wrap {margin-top: 1rem;}
.result .result-sheet .result-view .partition .cont-wrap .card-wrap + .tit-wrap {margin-top: 4rem;}
.result .result-sheet .result-view .card-wrap {display: flex; flex-wrap: wrap; align-items: stretch; gap: 1rem;}
.result .result-sheet .result-view .card-wrap .card {display: flex; flex-direction: column; flex: none; border-radius: 0.8rem; border: 1px solid #CFD4DA; overflow: hidden;}
.result .result-sheet .result-view .card-wrap .card.half {width: calc(50% - 0.5rem);}
.result .result-sheet .result-view .card-wrap .card.full {width: 100%;}
.result .result-sheet .result-view .card-wrap .card .card-head {height: 5rem; display: flex; justify-content: space-between; padding: 0 2rem; align-items: center; background-color: #F8F8F8;}
.result .result-sheet .result-view .card-wrap .card .card-head p {font-size: 1.6rem; font-weight: 700; color: #4A5056;}
.result .result-sheet .result-view .card-wrap .card .card-body {padding: 1.6rem 2rem;}
.result .result-sheet .result-view .card-wrap .card .card-body > p {font-size: 1.4rem; line-height: 1.7142;}
.result .result-sheet .result-view .card-wrap .card .card-body > ul > li {font-size: 1.4rem; line-height: 1.7142; position: relative; padding-left: 1.5rem;}
.result .result-sheet .result-view .card-wrap .card .card-body > ul > li::before {content: ""; width: 0.4rem; height: 0.4rem; border-radius: 50%; position: absolute; left: 0.6rem; top: 1rem; background-color: #4A5056;}
.result .nav-wrap {position: relative; margin-top: 2rem;}
.result .nav-wrap .way {display: flex; align-items: center; justify-content: center; gap: 2rem;}
.result .nav-wrap .btn {position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 16rem; padding: 0;}

@media screen and (max-width: 1212px) {
    /* 종합검사 */
    .examine .examine-head .container {align-items: flex-start; justify-content: space-between;}
    .examine .examine-head .title-area {display: flex; align-items: stretch; justify-content: flex-start;}
    .examine .examine-head .title-area .category {line-height: 9.2rem; padding: 0 1rem; border-radius: 1rem;}
    .examine .examine-head .title-area .title {margin-left: 1rem; flex-direction: column; align-items: flex-start; height: auto;}
    .examine .examine-head .timer {position: absolute; right: 1.6rem; top: 0;}
    
    /* 검사완료 */
    .finish .celebration-wrap > ul {flex-wrap: wrap;}
    .finish .celebration-wrap > ul > li {min-width: calc(33.3334% - 0.34rem); flex: 1 0;}

    /* 검사결과지 */
    .result .result-sheet .menu ul li {flex: none; width: calc(25% - 0.15rem); min-width: 0;}
    .result .result-sheet .result-view .summary .thinking .type-list {flex-direction: column;}
    .result .result-sheet .result-view .summary .ability .type-list dl {width: calc(50% - 0.5rem)}
    .result .result-sheet .result-view .layout .item.half {width: 100%;}
}

@media screen and (max-width: 720px) {
    /* 회원가입 */
    .join {padding-top: 6rem;}
    .join .container {max-width: 100%; padding-left: 0; padding-right: 0;}
    .join .title {margin-top: 2rem; font-size: 2.4rem;}
    .join .btn-existing {margin-top: 4rem; height: 8rem; font-size: 1.4rem;}

    /* 로그인 */
    .login {padding-top: 6rem;}
    .login .container {max-width: 100%; padding-left: 0; padding-right: 0; margin-top: 4rem;}
    .login .login-form {padding: 3rem 1.6rem 4rem;}
    .login .login-form .title {font-size: 2.4rem;}
    .login .login-form .form-group {padding: 2rem 0;}

    /* 종합검사 */
    .examine .examine-head .title-area .category {font-size: 2rem; line-height: 6.6rem;}
    .examine .examine-head .title-area .title {font-size: 2rem;}
    .examine .examine-head .title-area .title span {line-height: 2.8rem; font-size: 1.4rem; width: 7rem;}
    .examine .examine-head .timer {font-size: 2.4rem; line-height: 2.2rem; padding-left: 3.2rem; background: url('../assets/img/icon/ic_timer_m.png') no-repeat left center; background-size: 2.2rem; margin-left: 0;}
    .examine .examine-head .title-wrap .main-title {width: 12rem; height: 10rem; line-height: 10rem; font-size: 2rem;}
    .examine .examine-head .title-wrap .sub-title {width: 12rem; height: 10rem; font-size: 2rem;}
    .examine .examine-head .title-wrap .sub-title span {width: 7rem; line-height: 3rem; font-size: 1.4rem;}
    .examine .examine-body .test-wrap > .text {font-size: 1.4rem; margin-bottom: 2rem;}
    .examine .examine-body .test-wrap .test-form {padding: 1rem 2rem 2rem; width: 100vw; margin-left: -1.6rem; margin-right: -1.6rem;}
    .examine .examine-body .test-wrap .test-form + .test-form {margin-top: 0.5rem;}
    .examine .examine-body .test-wrap .test-form .question {flex-direction: column; align-items: center;}
    .examine .examine-body .test-wrap .test-form .question .num {width: 3.2rem; height: 3.2rem; line-height: 3.2rem; font-size: 1.4rem;}
    .examine .examine-body .test-wrap .test-form .question .cont {margin-left: 0; margin-top: 1rem;}
    .examine .examine-body .test-wrap .test-form .question .cont .text {font-size: 1.4rem;}
    .examine .examine-body .test-wrap .test-form .answer {padding-left: 0;}

    /* 검사완료 */
    .finish {padding-top: 6rem;}
    .finish .celebration-wrap {padding: 3rem 1.6rem; width: calc(100% + 3.2rem); margin-left: -1.6rem;}
    .finish .celebration-wrap > img {width: 33rem;}
    .finish .celebration-wrap .text01 {font-size: 3rem;}
    .finish .celebration-wrap .text02 {font-size: 1.6rem;}
    .finish .celebration-wrap .guide-wrap {width: 100%; padding: 2.5rem 1.2rem;}
    .finish .celebration-wrap .guide-wrap p {font-size: 1.8rem;}
    .finish .celebration-wrap .text03 {margin-top: 4rem; font-size: 2rem;}
    .finish .celebration-wrap > ul {margin-top: 2rem; gap: 1rem;}
    .finish .celebration-wrap > ul > li {flex: none; width: 100%; display: flex; align-items: center; padding: 1rem 1rem 2rem;}
    .finish .celebration-wrap > ul > li .title-wrap .title {font-size: 2.6rem;}
    .finish .celebration-wrap > ul > li .title-wrap img {width: 13rem;}
    .finish .celebration-wrap > ul > li ul {margin-top: 1rem; flex: 1 0; margin-left: 1rem; font-size: 1.6rem;}
    .finish .celebration-wrap .btn-wrap {margin-top: 4rem; gap: 1rem; flex-wrap: wrap;}
    .finish .celebration-wrap .btn-wrap .btn {width: 100%;}

    /* 검사결과지 */
    .result {padding-top: 2rem; padding-bottom: 4rem;}
    .result .exit {justify-content: space-between; gap: 0; margin: 1.6rem auto 0;}
    .result .result-sheet {padding: 2rem 1.6rem; width: 100vw; margin-left: -1.6rem;}
    .result .result-sheet .menu {position: relative;}
    .result .result-sheet .menu .btn-menu {display: block; position: relative; z-index: 1;}
    .result .result-sheet .menu ul {display: none; position: absolute; width: 100%; top: 100%; left: 0; gap: 0; background-color: #F0F3F5; margin-top: -0.3rem; padding-top: 0.3rem; border-bottom: 1px solid #CFD4DA;}
    .result .result-sheet .menu ul li {width: 100%;}
    .result .result-sheet .menu ul li + li {border-top: 1px solid #CFD4DA;}
    .result .result-sheet .menu ul li a {border-bottom: 0; border-top: 0; line-height: 2.858;}
    .result .result-sheet .result-view {margin-top: 3rem;}
    .result .result-sheet .result-view .name {font-size: 2.4rem;}
    .result .result-sheet .result-view .headline {margin-top: 0.5rem; font-size: 1.6rem;}
    .result .result-sheet .result-view .summary {margin-top: 2rem;}
    .result .result-sheet .result-view .summary .text {font-size: 1.4rem; font-weight: 700; padding: 1.5rem 1rem;}
    .result .result-sheet .result-view .summary .type-list dl {width: 100%;}
    .result .result-sheet .result-view .summary .tendency .item {width: 100%;}
    .result .result-sheet .result-view .summary .ability .type-list dl {width: 100%;}
    .result .result-sheet .result-view .chart-wrap + .partition {margin-top: 4rem;}
    .result .result-sheet .result-view .summary + .chart-wrap {margin-top: 4rem;}
    .result .result-sheet .result-view .list-wrap.v1 {margin-left: -1.6rem; width: calc(100% + 3.2rem)}
    .result .result-sheet .result-view .card-wrap .card,
    .result .result-sheet .result-view .card-wrap .card.half,
    .result .result-sheet .result-view .card-wrap .card.full {width: 100%;}
    .result .nav-wrap {display: flex; align-items: center; justify-content: space-between;}
    .result .nav-wrap .way {}
    .result .nav-wrap .btn {transform: translateY(0); position: static;}
}